body {
    font-family: helvetica, tahoma, sans-serif;
}

#mainnav{
    display: flex;
    justify-content: center;
    background-color: rgba(120,156,152,.4);
    position:relative;
    padding: .01em;
}

nav li {
    display: inline-flex;
    padding-left: 2em;
    
}

#section1 {
    display:flex;
    text-align: center;
    padding: 1em;
   max-width: 400px;
    margin: auto;
}

#section2 {
    text-align: center;
    padding: 1em;
    max-width: 400px;
    margin: auto;
}

#section3 {
     text-align: center;
    padding: 1em;
    max-width: 400px;
    margin: auto;
    
}

.temp{
    flex:1 1 auto;
    position: relative;
    float:left;
    left: 53px;
    font-size: 30px;
    
}

.lowhi{
    flex 1 1 auto;
    float:left
}

/*.map {
    float:right;
    width: 55%;
    bottom: 60px;
}
*/

.condition{
    position: relative;
    
}

.conditionpic{
    width: 45%;
}

.precip {
    flex: auto;
    float: left;
    width: 48%;
    
}

.wind {
    flex: auto;
    float:right;
    width: 48%;
}

.weeklyforecast li{
    display: inline-flex;
    box-sizing: border-box;
}

.siteplan {
    width: 60%;
}

h2  {
    text-align: center;
}

h3 {
    text-align: center;
}