/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    font-family: helvetica, tahoma, sans-serif;
}
	 h1 {
		 text-align: center;
       font-size: 40px;
    }
    h3 {
		text-align: center;
        font-size: 30px;
	}
nav ul{ 
	background-color: rgba(120,156,152,.4);
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: row;
	padding: 10px;
}

nav li{
	display: inline;
	margin-right: 1em;
}

nav a {
	text-align: center;
}

.weatherpic{
		padding-top: 10px;
		padding-bottom: 10px;
	
	}

.currentweather {
        font-size: 40px;
		display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
    }

    .currenttemp {
        font-size: 50px;
		text-align: center;
    }
    .lowhi {
        font-size: 30px;
		text-align: center;
    }
    .precip {
        font-size: 30px;
		text-align: center;
    }
.weeklyforecast {
	
	text-align: center;
}

/* COMPUTER SCREEN SIZE */


@media screen and (min-device-width: 1200px) {
	
    nav ul {
        background-color: rgba(120,156,152,.4);
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: row;
	
}
	li{
		padding: 20px;
		font-size: 20px;
	}
	
	h1 {
		font-size: 60px;
		padding-bottom: 10px;
		text-align: center;
	}
	h3 {
		font-size: 40px;
		padding-top: 20px;
		text-align: center;
	}
	h4 {
		font-size: 30px;
		padding-top: 30px;
	}
	
	
	
}
	/* TABLET VIEW */

@media screen and (min-device-width: 700px) and (max-device-width: 1078px) {
body {
    font-family: helvetica, tahoma, sans-serif;
    display: block;
}

.mainnav{
    display: flex;
    justify-content: center;
    background-color: rgba(120,156,152,.4);
    position:relative;
    padding: .01em;
}

nav li {
    display: inline-flex;
    padding-left: 2em;
    
}

#section1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1em;
   max-width: 400px;
    margin: auto;
}

.currentweather {
    width: 100%;
    
    
}

 .weatherpic {
        width: 100%;
    }

.tempconditions {
    
}

.precip {
    padding-top: 6.2em;
    padding-left: 5.5em;
}

.currenttemp {
    font-size: 50px;
    padding-left: 2em;
    padding-top: 1em;
    margin: 0px;
}

.lowhi {
    padding-left: 5em;
}

#section2 {
    text-align: center;
    padding: 1em;
    max-width: 400px;
    margin: auto;
}

#section3 {
     text-align: center;
    padding: 1em;
    max-width: 400px;
    margin: auto;
    
}

.hourlyforecast {
    display: none;
}

.weeklyforecast ul li{
		display: none;
}

h2  {
    text-align: center;
    font-size: 60px;
}

h3 {
    text-align: center;
}
}
