@import url('https://fonts.googleapis.com/css?family=Oxygen|Playfair+Display');
			 
			/* FOR SMALL SCREENS */


			body 			{
				font-family: "Oxygen", tahoma, sans-serif;
				width: 90%;
				max-width: 960px;
				margin: auto;
					
			}
			
			section {
				padding: 20px;
			}
			

			#mainnav{
				background-color: rgba(100,230,102,.3);
				position:relative;
				font-family: "Playfair Display", times new roman, serif;
				color:#0E201F;
				text-align: center;
			}

			nav {	
				position: relative;
				z-index: 0;
			}

			nav > ul {
				list-style-type: none;
				line-height: 3em;
				
			}

			nav li {
				display: inline;	
				padding: .5em;
				text-align: center;
				font-size: 18px;
				
			}

			nav a {
					padding: .9em;
			}

			nav a:link, nav a:visited{
					color:#0E4E49;
					text-decoration:none;
			}

			nav a:hover {
				color: rgb(104,156,152) ;
				background-color: #0E4E49;
					text-decoration: underline;
			}
			
			#section1 {
				background-color: rgba(100,230,102,.3);
				position:relative;
			
				
			}

				#section1 {
					overflow: auto;
				clear:both
					
					
			}
			
			#section2{
				background-color: rgba(100,230,102,.3);
				
				
			}
			
			#section2{
					overflow: auto;
				clear:both
				background-color: #0E4E49
				position:relative;
				top: 40px;
				
			}
			
			#section3{
				text-align: center;
				max-width: 500px;
				margin: auto;
			}
			
			.about{
				float: left;
					width: 48%;
				padding-top: 55px;
			}
			
			.sarah{
				float: right;
					width: 48%;
			}
			
			.sarahpic{
				float: left;
				width: 48%
					
			}
			
			.aboutsarah{
				float: right;
				width: 48%
				}
			
			footer {
				text-align: center;
			}
			
			.socialmedia{
				float: right;
			}
			
			.copyright {
				float: left;
			}
			
			p {
				text-align: justify;
				font-family: "Oxygen", tahoma, sans-serif;
			}			

				h2,h3,h5,h6 {
				color:#92D08B;
				font-family: "Playfair Display", times new roman, serif;
				text-align: center;
							}

				h1 {
					color:#0E4E49;
					font-family: "Playfair Display", times new roman, serif;
					font-size: 45px;
					font-kerning: 6px;
				    text-align: center;	
					padding: 10px;
					padding-top: 20px;
				}

	/* FOR MEDIUM SCREENS */
	
	@media screen and (min-device-width: 700px) and (max-device-width: 1078px) {
	
		}


	/* FOR LARGE SCREENS */
	
	@media screen and (min-device-width: 1200px) {
		
		
}